<%= form_with(model: profile) do |f| %>
  <div>
    <%= f.text_field :full_name, placeholder: 'Full Name' %>
  </div>

  <div>
    <%= f.text_field :location, placeholder: 'Location' %>
  </div>

  <div>
    <%= f.text_field :link, placeholder: 'Website' %>
  </div>

  <div>
    <%= f.text_area :bio, placeholder: 'Bio' %>
  </div>

  <div>
    <%= f.submit "Submit" %>
  </div>

  <span class="image">
    <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
  </span>

  <% if profile.image.attached? %>
    <div>
      <%= f.label :default_image, "Set gravitar as profile image" %>
      <%= f.check_box :default_image %>
    </div>
  <% end %>
<% end %>