<div class="bg-white shadow-md dark:bg-dm-2 dark:shadow-none rounded-[6px] duration-500 mb-4 py-3 px-4 border border-gray-100 dark:border-gray-700">
   <%= form_with model: [ @post, @post.comments.build ] do |f| %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :parent_id, :value => parent.id unless parent.nil? %>
      <%= f.text_area :content, placeholder: "Write a comment here:", :class => 'input-primary dark:input-dark resize-none my-3 h-14 shadow-none outline-none p-0 my-0' %>
      <div class='flex justify-end mt-2'>
         <%= f.submit "Post", :class => 'bg-emerald-600 hover:bg-emerald-500 text-white px-3 py-2 rounded-md duration-500 hover:cursor-pointer' %>
      </div>
   <% end %>
</div>