<% if comment.persisted? %>
  <div class=<%="pt-3"%> >

    <% unless comment.parent.nil? %>
      <div class='block md:hidden flex items-center gap-1 text-gray-600 dark:text-gray-400 mb-3 ml-[9.2px] text-xs'>
        <div class="flex items-center gap-2">
          <img src=<%= profile_img(comment.parent.user) %> 
                class="rounded-full w-5 h-5">

          <p class='font-bold'><%= "#{comment.parent.user.username}:"  %></p>
        </div>
        <p><%= comment.parent.content.truncate(40) %><p>
      </div>
    <% end %>

    <div class='flex items-center justify-between'>
      <div class="flex items-center gap-3">
        <img src=<%= profile_img(comment.user) %> 
              class="rounded-full w-10 h-10">

        <p class='font-bold'><%= link_to comment.user.username, comment.user %></p>
      </div>

      <p class="text-xs text-gray-800 dark:text-gray-200 justify-self-end"><%= time_ago_in_words(comment.created_at) %> ago</p>
    </div>

    <p class='mt-2 mb-4'><%= comment.content%></p>

    <div class="flex justify-between items-center">
          <div class="flex gap-x-3">
              <div class="flex justify-center gap-x-1">
                  <span id=<%= "comment_reaction_count#{comment.id}" %> ><%= comment.reactions.count %></span>
                  <%= render 'reactions/reaction_form',  :@reactable => comment %>
              </div>
          </div>

          <div class="flex gap-x-3">
              <ion-icon id=<%="reply-btn#{comment.id}"%> class='reply-btn hover:cursor-pointer text-xl' name="arrow-undo"></ion-icon>

              <% if current_user == comment.user %>
                  <%= button_to  post_comment_path(@post, comment), method: :delete do %>
                    <ion-icon id=<%="trash#{comment.id}"%> class="text-xl" name="trash-outline"></ion-icon>
                  <% end %>
              <% end %>
          </div>
    </div>

    <div class='reply-form hidden'>
      <%= render 'comments/comment_form', :parent => comment %>
    </div>

    <hr class="h-[1px] border-none bg-gray-300 dark:bg-gray-700 my-[0px]">
    
    <div class='pl-0 md:pl-7'>
      <%= render comment.comments %>
    </div>
  </div>
<% end %>