<li>
  <div>
    <img src=<%= profile_img(notification.sender) %> class="rounded-full w-14 h-14">

    <%= link_to notification.sender.username, notification.sender %>
    
    <span id=<%= "message#{notification.sender.id}" %> >
      <%= notification.message %>
    </span>
  </div>

  <% if notification.friend_request? %>
    <%= render 'friend_form',  :@user => notification.sender %>
  <% end %>
</li>