<h1>Find Friends</h1>

<%= form_with url: "/users", method: :get, remote: true do |f| %>
  <%= f.text_field(:username, placeholder: 'Search username here...') %>
  <%= f.submit "Search" %>
<% end %>

<ul>
  <% @users.each do |u| %>
    <img src=<%= profile_img(u) %> class="rounded-full w-14 h-14">

    <%= link_to u.username, u %>
    
    <%= render 'friend_form',  :@user => u %>
  <% end %>
</ul>
<%= paginate @users %>
