<img src=<%= profile_img(@user) %> 
     class="border-solid border-2 border-gray-500 rounded-full w-20 h-20 md:w-60 md:h-60 lg:w-64 lg:h-64">

<h1>
<%= @user.username %>
</h1>


<span id=<%= "friend_count#{@user.id}" %>>
<%= link_to pluralize(@user.active_friends.count, 'friend'), friends_user_path(@user) %>
</span>

<%= render 'friend_form' %>

<%= render 'profiles/profile_links' %>

<%= render @user.profile unless @user.profile.nil? %>

<h2><%= pluralize(@posts.count, 'Post') %></h2>

<%= render 'posts/post_form' if @user == current_user %>

<% unless @posts.empty? %>
  <% @posts.each do |post| %>
    <%= render post %>
    <%= link_to "#{pluralize(post.comments.count, 'Comment')}", post_path(post) %>
    <hr>
  <% end %>
  <%= paginate @posts %>
<% end %>