<h1>
<%= gravatar_for(@user, { size: 100 }) %>
<%= @user.username %>
</h1>

<%= link_to pluralize(@user.active_friends.count, 'friend'), friends_user_path %>

<%= render 'friend_form' %>

<%= render 'profiles/profile_links' %>

<%= render @user.profile unless @user.profile.nil? %>

<h2><%= pluralize(@posts.count, 'Post') %></h2>

<% unless @posts.empty? %>
  <% @posts.each do |post| %>
    <%= render post %>
    <%= link_to "#{pluralize(post.comments.count, 'Comment')}", post_path(post) %>
    <hr>
  <% end %>
  <%= paginate @posts %>
<% end %>