<div class="w-full h-screen lm-svg dark:dm-svg h-screen flex flex-col justify-center">
  <nav class="pt-5 pr-5 absolute top-0 right-0">
      <span class="text-3xl cursor-pointer mx-2 duration-500">
        <ion-icon id="dark-mode" name="sunny-outline"></ion-icon>
      </span>
  </nav>

  <div class="flex flex-col md:flex-row justify-center gap-x-16 md:mb-20 mx-4 md:my-16 my-0">
    <div>
      <div class="flex items-center justify-center md:justify-start">
        <h1 class="text-center md:text-left font-bold text-8xl md:text-9xl duration-500">gemz</h1>
        <ion-icon name="diamond-sharp" class=" text-rose-600 text-6xl ml-5 mt-3"></ion-icon>
      </div>
      <h3 class="text-center md:text-left text-xl my-8 duration-500">A social media expirience built with Ruby on Rails</h3>
    </div>

    <div class="self-center duration-500">
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <h4 class="text-center mb-2">Dont have an account? <u><%= link_to "Sign up", new_registration_path(resource_name) %></u></h4>
      <% end %>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', :class => 'input-primary dark:input-dark' %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password', :class => 'input-primary dark:input-dark' %>
        </div>

        <div class="actions">
          <%= f.submit "Log in", :class => 'btn-primary font-bold py-2 bg-emerald-600 hover:bg-emerald-500' %>
        </div>

        <%= render "devise/shared/links" %>

         <% if devise_mapping.rememberable? %>
          <div class="field text-center my-1 duration-500">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <div class="text-center duration-500">
            <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
