<div>
  <%= link_to post.user.username, post.user %>
  <%= post.content %>

  Posted <%= time_ago_in_words(post.created_at) %> ago
  <% if current_user == post.user %>
      <%= button_to "Delete", post, method: :delete %>
      <%= link_to "Edit", edit_post_path(post) %>
  <% end %>

  <br>

  <%= post.reactions.count %>
  <%= render 'reactions/reaction_form',  :@reactionable => post %>

  <hr>
  
</div>
