<div>
  <img src=<%= profile_img(post.user) %> 
     class="rounded-full w-14 h-14">

  <strong><%= link_to post.user.username, post.user %></strong>
  <%= post.content %>
  <div>
    <%= image_tag post.image.variant(:display) if post.image.attached? %>
  <div>


  <% if current_user == post.user %>
      <div class="flex gap-x-3">
            <% if current_user == post.user %>
                <%= link_to edit_post_path(post) do %>
                  <ion-icon id=<%="edit#{post.id}"%> name="create-outline"></ion-icon>
                <% end %>
                <%= button_to post, method: :delete do %>
                  <ion-icon id=<%="trash#{post.id}"%> name="trash-outline"></ion-icon>
                <% end %>
            <% end %>
        </div>
  <% end %>

  <br>

  <span id=<%= "post_reaction_count#{post.id}" %> ><%= post.reactions.count %></span>
  <%= render 'reactions/reaction_form',  :@reactable => post %>

  <br>

  <%= time_ago_in_words(post.created_at) %> ago

</div>
