<% if current_user %>
    <nav class="py-3 px-4 md:flex md:flex-col md:border-r-2 md:border-black md:dark:border-white md:fixed md:h-screen bg-lm-1 dark:bg-dm-1">
        <div class="flex justify-between items-center">
            <span>
                <%= link_to root_path do %>
                  <ion-icon name="diamond-sharp" class="text-rose-600 text-4xl md:mx-7 my-3"></ion-icon>
                <% end %>
            </span>

            <span class="text-3xl cursor-pointer mx-2 md:hidden block">
                <ion-icon id="burger" name="menu"></ion-icon>
            </span>
        </div>

         <ul id="list" class="md:flex flex-col md:ml-4 md:static absolute w-full left-0 md:w-auto md:py-0 py-4 md:pl-0 pl-0 md:mt-0 mt-1.5 md:opacity-100 bg-lm-1 dark:bg-dm-1">
            <%= link_to root_path do %>
                <li class="mx-1 my-3 text-xl hover:bg-gray-200 dark:hover:bg-gray-800 w-fit py-2 px-3 rounded-3xl duration-500 flex items-center gap-3">
                    <ion-icon name="home" class="text-2xl"></ion-icon>
                     <p>Home</p>
                </li>
            <% end %>

            <%= link_to current_user do %>
                <li class="mx-1 my-3 text-xl hover:bg-gray-200 dark:hover:bg-gray-800 w-fit py-2 px-3 rounded-3xl duration-500 flex items-center gap-3">
                    <ion-icon name="person-circle" class="text-2xl"></ion-icon>
                    <p>Profile</p>
                </li>
            <% end %>

             <%= link_to notifications_user_path(current_user) do %>
                <li class="mx-1 my-3 text-xl hover:bg-gray-200 dark:hover:bg-gray-800 w-fit py-2 px-3 rounded-3xl duration-500 flex items-center gap-3">
                    <% unless current_user.new_notifications.count.zero? %>
                    <span class="text-sm bg-rose-500 w-[9px] h-[9px] rounded-full absolute z-[1] ml-[15px] mb-3 text-rose-500 border border-lm-1 dark:border-dm-1"></span>
                    <% end %>
                    <ion-icon name="notifications" class="text-2xl"></ion-icon>
                    <p>Notifications</p>
                </li>
            <% end %>

            <%= link_to users_path do %>
                <li class="mx-1 my-3 text-xl hover:bg-gray-200 dark:hover:bg-gray-800 w-fit py-2 px-3 rounded-3xl duration-500 flex items-center gap-3">
                    <ion-icon name="accessibility" class="text-2xl"></ion-icon>
                    <p>Find friends</p>
                </li>
            <% end %>

            <%= link_to edit_user_registration_path do %>
                <li class="mx-1 my-3 text-xl hover:bg-gray-200 dark:hover:bg-gray-800 w-fit py-2 px-3 rounded-3xl duration-500 flex items-center gap-3">
                    <ion-icon name="cog" class="text-2xl"></ion-icon>
                    <p>Settings</p>
                </li>
            <% end %>

             <%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %>
                <li class="mx-1 my-3 text-xl hover:bg-gray-200 dark:hover:bg-gray-800 w-fit py-2 px-3 rounded-3xl duration-500 flex items-center gap-3">
                    <ion-icon name="log-out" class="text-2xl"></ion-icon>
                     <p>Log out</p>
                </li>
            <% end %>

            <li class="mx-1 my-3">
              <span class="text-2xl cursor-pointer hover:bg-gray-200 dark:hover:bg-gray-800 w-fit duration-500 rounded-full flex justify-center items-center p-2">
                <ion-icon id="dark-mode" name="sunny-outline"></ion-icon>
              </span>
            </li>
        </ul>
    </nav>
<% end %>