<!DOCTYPE html>
<html class="poppins">
  <head>
    <title>Gemz</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </head>

  <body class='<%= grid_layout(controller_name, action_name) %>' > 
    <%= render 'layouts/nav' %>
    <div class="w-full <%= margin(controller_name, action_name) %>">
      <%= render 'layouts/flash' %>
      <%= yield %>
    </div>
  </body>
</html>
