<!DOCTYPE html>
<html class="poppins">
  <head>
    <title>Gemz</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </head>

  <body class="poppins bg-lm-1 text-dm-1 dark:bg-dm-1 dark:text-lm-1">
    <%= render 'layouts/nav' %>
    
    <% unless notice.nil? %>
      <p class="notice text-center border-solid border-2 border-green-500 rounded-md w-fit m-auto py-2 px-3"><%= notice %></p>
    <% end %>

    <% unless alert.nil? %>
      <p class="alert text-center border-solid border-2 border-red-500 rounded-md w-fit m-auto py-2 px-3"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
